
/* Smaller viewports */
@media only screen and (max-width: 1085px) {
	.container {
		max-width: 980px;
	}

	.work .image {
		width: 245px;
		height: 245px;
		margin: 10px;
	}
}


/* Tablets */
@media only screen and (max-width: 900px) {
	.container {
		max-width: 810px;
	}

	.work .image {
		width: 300px;
		height: 300px;
		margin: 10px;
	}
}

/* Mobile Phones Landscape */
@media only screen and (max-width: 700px) {
	.container {
		max-width: 630px;
	}

	.work .image {
		width: 245px;
		height: 245px;
		margin: 10px;
	}

	.half-left, .half-right, .center {
		width: 100%;
		margin-bottom: 25px;
	}

	#center {
		padding-top: 0;
	}


	.portfolio-caption {
		margin: 0;
	}

	.portfolio-caption p {
		margin: 0;
	}

	.close, .prev, .next {
		font-size: 35px;
	}
}

/* Mobile Phones Portrait */
@media only screen and (max-width: 580px) {
	.container {
		max-width: 432;
	}

	.work .image {
		width: 310px;
		height: 310px;
		margin: 10px;
	}

	.close, .prev, .next {
		font-size: 30px;
	}
}

@media only screen and (max-width: 380px) {
	.container {
		max-width: 342;
	}

	.work .image {
		width: 230px;
		height: 230px;
		margin: 10px;
	}
}

